@model Hospital_Management2.Models.PacienteModel

@{
    ViewData["Title"] = "Delete";
}
<h1>Eliminar paciente</h1>

<h3>¿Desea eliminar la información de este Paciente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>
        <dt class="col-sm-2">Apellido: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaciente)
        </dd>
        <dt class="col-sm-2">Fecha de nacimiento: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">Sexo: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">Telefono: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">Email: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">FechaRegistro: </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input asp-for="PacienteID" type="hidden" class="form-control" />
        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Borrar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </form>
</div>