@model IEnumerable<Hospital_Management2.Models.HabitacionModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoHabitaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoHabitaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HabitacionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HabitacionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HabitacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
